<br>
<nav class="navbar-header">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-.................." crossorigin="anonymous" referrerpolicy="no-referrer" />
  <i class="fas fa-bars"></i>
  <h4 class="title">Reactive Form</h4>
</nav><br>

<div class="sidebar-items">
  <div class="sidebar-item">
    <i class="fas fa-house"></i>
    <a routerLink="/" routerLinkActive="active">Home</a>
  </div><br>

  <div class="sidebar-items">
    <div class="sidebar-item">
      <i class="fas fa-user-pen"></i>
      <a routerLink="/personal-details" routerLinkActive="active">Personal Details</a>
    </div><br>

<div class="sidebar-items">
  <div class="sidebar-item">
    <i class="fas fa-user-graduate"></i>
    <a routerLink="/education" routerLinkActive="active">Education Details</a>
  </div><br>

  <div class="sidebar-item">
    <i class="fas fa-briefcase"></i>
    <a routerLink="/employment" routerLinkActive="active">Employment Details</a>
  </div><br />

  <div class="sidebar-items">
    <div class="sidebar-item">
      <i class="fa fa-people-roof"></i>
            <a routerLink="/family" routerLinkActive="active">  Family Details</a>
    </div><br>

</div>
