<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Full Screen Questionnaire Form</title>
</head>
<body>

<div class="full-screen-container">
  <div class="container-highlight header-container">
    <h4>Fill in your Personal-Details</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-4 custom-column1 container-highlight">
    <div class="form-container-inner">
      <div class="form-container">
        <div class="form-group">
          <h5 for="category" class="required">Choose a Country</h5><br/>
          <div> 
            <input type="radio" id="Canada" name="Country" value="Canada">
            <label for="Canada"> Canada</label><br>
            <input type="radio" id="UK" name="Country" value="UK">
            <label for="UK"> UK</label><br>
            <input type="radio" id="USA" name="Country" value="USA">
            <label for="USA"> U.S.A</label><br> 
            <input type="radio" id="Australia" name="Country" value="Australia">
            <label for="Australia"> Australia</label><br><hr/>
          </div>
        </div>   <br> 
        
        <div class="form-group">
          <h5 for="category" class= "required">Choose a Category</h5><br/>
          <div> 
            <input type="radio" id="cat1" name="Category" value="Student Visa">
            <label for="cat1"> Student Visa</label><br>
            <input type="radio" id="cat2" name="Category" value="Permanent Residency">
            <label for="cat2"> Permanent Residency</label><br>
            <input type="radio" id="cat3" name="Category" value="Vistor Visa">
            <label for="cat3"> Vistor Visa</label><br> 
            <input type="radio" id="cat4" name="Category" value="IELTS">
            <label for="cat4"> IELTS</label><br>
            <input type="radio" id="cat5" name="Category" value="Investor Visa">
            <label for="cat5"> Investor Visa</label><br>
            <div class="form-inline"> 
              <input type="radio" id="cat6" name="Category" value="Others">
              <label for="cat6"> Others : </label>
              <input type="text" style="margin-left: 5px;" id="title" formControlName="title" class="form-control" placeholder="Specify reason here"/>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

  <div class="col-md-8 custom-column2 container-highlight">
    <h5 for="category">Fill in correct details</h5><br/>
    <div class="row"> 
      <div class="col-md-2 required"> Full Name: </div>
      <div class="col-md-5"> 
      <input type="text " id="title" formControlName="title" class="form-control" />
    </div>
    <div class="col-md-2 required">Date: </div>
      <div class="col-md-3"> 
      <input type="date" id="title" formControlName="title" class="form-control" />
    </div></div><br/>

  <div class="row"> 
    <div class="col-md-2">Reffered By : </div>
    <div class="col-md-5"> 
    <input type="text" id="title" formControlName="title" class="form-control" />
  </div>
  <div class="col-md-2">Reference Contact : </div>
    <div class="col-md-3"> 
    <input type="text" id="title" formControlName="title" class="form-control" placeholder="Enter 10 digits only" />
  </div></div><br/>


  <div class="row"> 
    <div class="col-md-2 required"> Date of Birth: </div>
    <div class="col-md-5"> 
    <input type="date" id="title" formControlName="title" class="form-control" />
  </div>
  <div class="col-md-2 required">Marital Status: </div>
    <div class="col-md-3"> 
    <select  id="title" formControlName="title" class="form-control">
      <option value="" disabled selected></option>
      <option value="Single ">Single</option>
      <option value="Married">Married</option>
      <option value="Divorced">Divorced</option>
    </select>
  </div></div><br/>

  <div class="row"> 
    <div class="col-md-2 required"> Address:  </div>
    <div class="col-md-10"> 
    <input type="text" id="title" formControlName="title" class="form-control" />
  </div></div><br/>

  <div class="row"> 
    <div class="col-md-2 required"> Contact: </div>
    <div class="col-md-4"> 
    <input type="text" id="title" formControlName="title" class="form-control" placeholder="Enter 10 digits only" />
  </div>
  <div class="col-md-2"> Alternate Contact: </div>
    <div class="col-md-4"> 
    <input type="text" id="title" formControlName="title" class="form-control" placeholder="Enter 10 digits only"/>
  </div></div><br/>


  <div class="row"> 
    <div class="col-md-2 required"> Email:  </div>
    <div class="col-md-10"> 
    <input type="text " id="title" formControlName="title" class="form-control" />
  </div></div><br/>

  <div class="row"> 
    <div class="col-md-2 "> Relatives:  </div>
    <div class="col-md-10"> 
    <input type="text " id="title" formControlName="title" class="form-control" />
  </div></div><br/>
 

<div class="row"> 
  <div class="required" > IELTS-O/A </div>
  <div class="col-md-2"> 
  <input type="number" id="title" formControlName="title" class="form-control" />
</div>

<div> L: </div>
  <div class="col-md-2"> 
  <input type="number" id="title" formControlName="title" class="form-control" />
</div>

<div> R: </div>
  <div class="col-md-2"> 
  <input type="number" id="title" formControlName="title" class="form-control" />
</div>

<div > W: </div>
  <div class="col-md-2"> 
  <input type="number" id="title" formControlName="title" class="form-control" />
</div>

<div> S: </div>
  <div class="col-md-2"> 
  <input type="number" id="title" formControlName="title" class="form-control" />
</div>
</div>
</div>
</div>


<div class="full-screen-container">
  <div class="container-highlight footer-container">
    <div class="row"> 
      <div class="col-xl-10 " style="color: red; ">Fill all the necessary fields marked * </div>
      <div class="col-md-2 text-right">  <br>
        <button type="submit" class="btn btn-primary submit-btn">Submit</button>
      </div>
    </div><br>
  </div>
</div>

</body>
</html>
